@import url(https://fonts.googleapis.com/css?family=Pacifico);
//Add variables here:
$translucent-white: rgba(255, 255, 255, 0.7);
$square-size: 300px;
$standard-border: 5px solid black;
h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 41px;
}

.banner {
    font-family: 'Pacifico', cursive;
    height: 400px;
    background-image: url("./images/lemons.png");
    .slogan {
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;
        background-color: $translucent-white;
        span {
            font-size: 24px;
            line-height: 39px;
        }
    }
    border: {
        top: $standard-border;
        bottom: $standard-border;
    }
}

.container {
    text-align: center;
    font-family: 'Pacifico', cursive;
    .icon {
        width: $square-size;
        height: $square-size;
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 32px;
    }
}

//text over laying the chatbot
.directChat {
    position: fixed;
    right: 25px;
    bottom: 15px;
    z-index: 100;
    height: 100px;
    width: 80px;
    cursor: pointer;
    text-align: center;
}